.main-wrap{
    background-color: #fff;
    padding: 8px 16px 0;
    max-width: 560px;
    box-sizing: border-box;
    margin-inline: auto;
}
.quickMenu-container{
    overflow-x: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: calc(100% + 32px);
    margin-inline: -16px;
}
.QuickMenu_inner{
    display: flex;
    align-items: flex-start;
    padding-inline: 16px;
}