<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>결제 내역</title>
    <link rel="stylesheet" href="/static/css/paymentHistroy/paymentHistroy.css">
</head>

<body>
    <div class="CommunityArea_container__F_81k">
    </div>
    <div class="WriteCommentButtonContainer_container">
        <div class="FloatingButton_button FloatingButton_buttonWrapper">
            <button
                class="Button_button Button_gray Button_contained Button_md undefined Button_circular_8Y FloatingButton_greyButton WriteCommentButtonContainer_buttonGrey WriteCommentButtonContainer_button"
                type="button"><span><span>글쓰기</span><svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"
                        class="WithProps_icon Button_icon">
                        <path fill-rule="evenodd" clip-rule="evenodd"
                            d="M17.5 1.151l-16.1 16.1V22.6h5.349l16.1-16.1L17.5 1.151zM2.6 21.4v-3.651l11.65-11.65 3.651 3.651L6.251 21.4H2.6zM18.75 8.901L21.151 6.5 17.5 2.849 15.099 5.25l3.651 3.651z"
                            fill="#495057"></path>
                    </svg></span></button>
        </div>
    </div>
    <div class="ReactModalPortal">
        <div class="ConfirmModal_overlay__3JoaM waffle__modal__overlay CommunityCommentWriteForm_overlay__1C4oL waffle__modal__overlay "
            style="background-color: rgba(0, 0, 0, 0.2);">
            <div class="ConfirmModal_confirmModal__2YF-6 CommunityCommentWriteForm_container__PGjYh ConfirmModal_sizeSheet__1WWyp ConfirmModal_contentAfterOpen__1YIRv"
                tabindex="-1" role="dialog" aria-modal="true">
                <div class="ConfirmModal_header__3QYNv" style="padding-left: 24px; padding-right: 24px;">
                    <div class="ConfirmModal_closeIconRoot__2qHDe"><button aria-label="모달 닫기"
                            class="Button_button__1U5se Button_text__1eVrZ Button_md__3yvYX"
                            type="button"><span><span><svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"
                                        width="24" class="WithProps_icon__2zN1K" style="height: 24px; width: 24px;">
                                        <path
                                            d="M12 11.152L4.424 3.576l-.849.848L11.151 12l-7.576 7.576.849.848L12 12.85l7.576 7.575.848-.848L12.848 12l7.576-7.576-.848-.848L12 11.15z"
                                            fill="#495057"></path>
                                    </svg></span></span></button></div>
                    <div class="ConfirmModal_title__g7w2K">체험리뷰</div>
                </div>
                <div class="ConfirmModal_content__8zABq undefined" style="padding-left: 24px; padding-right: 24px;">
                    <div class="CommunityCommentWriteForm_writeWrap__3ZbAg">
                        <form name="feedback-form">
                            <div
                                class="CommunityCommentWriteForm_contentWrapper__i8gX5 CommunityCommentWriteForm_contentWrapperMobile__3frML">
                                <div class="CommunityCommentWriteForm_inputWrapper__1Pw0u"><label
                                        for="feedback-contents"><textarea id="feedback-contents" maxlength="2000"
                                            name="body" placeholder="먼저 리워드를 체험해 본 리뷰를 남겨 주세요"
                                            class="Textarea_textarea__k26za Textarea_md__1ul3a CommunityCommentWriteForm_inputTextarea__28Iry CommunityCommentWriteForm_inputTextareaMobile__1e1jX"
                                            aria-invalid="false"></textarea></label>
                                    <p class="CommunityCommentWriteForm_lengthLabel__3Kled">0 / 최소 10자 이상</p>
                                </div>
                                <div>
                                    <div
                                        class="ImageUploader_container__1vRuT CommunityCommentWriteForm_imageUploader__2UvzY">
                                        <div class="ImageUploader_contentWrap__1NZNM">
                                            <div class="ImageUploader_button__hB5Wq"><svg viewBox="0 0 24 24"
                                                    xmlns="http://www.w3.org/2000/svg" width="24"
                                                    class="WithProps_icon__2zN1K ImageUploader_addIcon__1x14o"
                                                    style="height: 24px; width: 24px;">
                                                    <path d="M8.6 13a3.4 3.4 0 116.8 0 3.4 3.4 0 01-6.8 0z"
                                                        fill="#495057"></path>
                                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                                        d="M9.219 3.4h5.562l2.5 3H22.6v14.2H1.4V6.4h5.319l2.5-3zM12 8.4a4.6 4.6 0 100 9.2 4.6 4.6 0 000-9.2z"
                                                        fill="#495057"></path>
                                                </svg><span>0/5</span>
                                                <div class="StaticPopper_container__1oMqd ImageUploader_popper__2njl1">
                                                    <div class="CommunityCommentWriteForm_popper__z8K2z">소중한 경험을 남겨 주시면
                                                        다른 서포터에게 큰 도움이 돼요.</div>
                                                    <div class="StaticPopper_arrow__2Y22i ImageUploader_popperArrow__16m0N"
                                                        aria-hidden="true"></div>
                                                </div>
                                            </div>
                                            <div class="ImageUploader_imageContainer__31Zm9"
                                                style="transform: translateX(0px);"></div>
                                        </div><input accept="image/png, image/jpeg, image/jpg" type="file" value=""
                                            style="display: none;">
                                    </div>
                                </div>
                                <div color="red"
                                    class="MessageBox_messageBox__3QZed MessageBox_red__3GJt_ CommunityCommentWriteForm_dangerMsg__3guil MessageBox_noTitle__3Qi1S">
                                    <div class="MessageBox_header__3gxdO"><svg viewBox="0 0 24 24"
                                            xmlns="http://www.w3.org/2000/svg"
                                            class="WithProps_icon__2zN1K MessageBox_icon__1YneD">
                                            <path fill-rule="evenodd" clip-rule="evenodd"
                                                d="M1.4 12C1.4 6.146 6.146 1.4 12 1.4c5.854 0 10.6 4.746 10.6 10.6 0 5.854-4.746 10.6-10.6 10.6-5.854 0-10.6-4.746-10.6-10.6zM13 7a1 1 0 10-2 0 1 1 0 002 0zm-1.6 3v8h1.2v-8h-1.2z"
                                                fill="#495057"></path>
                                        </svg></div>
                                    <div class="MessageBox_content__2r3YG">최근 메이커 또는 제3자에 대한 허위사실 유포, 비방 목적의 댓글로 인해 당사자간
                                        법적분쟁이 발생한 사례가 증가하고 있습니다. 악의적 댓글 작성자는 명예훼손, 모욕 등으로 법적 책임을 부담하게 될 수 있다는 점을 유의하여
                                        주시기 바랍니다.</div>
                                </div>
                                <div color="basic"
                                    class="MessageBox_messageBox__3QZed MessageBox_basic__EVRE8 MessageBox_vertical__1497L CommunityCommentWriteForm_info__1mPnV MessageBox_noDescription__36eiK">
                                    <div class="MessageBox_header__3gxdO"><svg viewBox="0 0 24 24"
                                            xmlns="http://www.w3.org/2000/svg"
                                            class="WithProps_icon__2zN1K MessageBox_icon__1YneD">
                                            <path fill-rule="evenodd" clip-rule="evenodd"
                                                d="M1.4 12C1.4 6.146 6.146 1.4 12 1.4c5.854 0 10.6 4.746 10.6 10.6 0 5.854-4.746 10.6-10.6 10.6-5.854 0-10.6-4.746-10.6-10.6zM13 7a1 1 0 10-2 0 1 1 0 002 0zm-1.6 3v8h1.2v-8h-1.2z"
                                                fill="#495057"></path>
                                        </svg>
                                        <div class="MessageBox_title__1Nx3v">
                                            <div class="CommunityCommentWriteForm_guideTitle__2LtR0"><span>게시물 이용
                                                    안내</span><button type="button"><svg viewBox="0 0 24 24"
                                                        xmlns="http://www.w3.org/2000/svg" width="16"
                                                        class="WithProps_icon__2zN1K"
                                                        style="height: 16px; width: 16px;">
                                                        <path fill-rule="evenodd" clip-rule="evenodd"
                                                            d="M2.576 7.924l.848-.848L12 15.652l8.576-8.576.848.848L12 17.35 2.576 7.924z"
                                                            fill="#495057"></path>
                                                    </svg></button></div>
                                        </div>
                                    </div>
                                    <div class="MessageBox_content__2r3YG"></div>
                                </div>
                            </div>
                            <div class="CommunityCommentWriteForm_bottom__1Enab"><button
                                    class="Button_button__1U5se Button_mint__2W1nI Button_contained__2qbQa Button_lg__CD3oW Button_block__2rZGh Button_disabled__dTtjo"
                                    disabled="" type="button"><span><span>등록하기</span></span></button></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>