<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>기업 - 충전소 등록</title>
        <!-- favicon -->
        <link rel="shortcut icon" href="https://wabiz-static-dev.s3.ap-northeast-2.amazonaws.com/static/favicon/favicon.png" type="image/x-icon" />

        <!-- 폰트 -->
        <link rel="stylesheet" href="/static/css/common/font.css" />

        <!-- 스타일 초기화 css -->
        <link rel="stylesheet" href="/static/css/common/reset.css" />

        <!-- 공통 css -->
        <link rel="stylesheet" href="/static/css/common/common.css">

        <!-- fontawesome 꾸며진 폰트 -->
        <link rel="stylesheet" href="/static/css/common/fontawesome.css">

        <!-- 유틸 css -->
        <link rel="stylesheet" href="/static/css/common/util.css" />

        <!-- 유틸 2 -->
        <link rel="stylesheet" href="/static/css/company-admin/company-utill.css"> 

        <!-- 개별 css 스타일 -->
        <link rel="stylesheet" href="/static/css/company-admin/company-charger-create.css" />

</head>
<body>
    <main role="main">
        <!-- 컨테이너 -->
        <div class="container flex-1 quiry-contents-box" id="page-container">
            <!-- 가로 정렬용 div -->
            <div class="row align-items-center"></div>
            
            <!-- 전체 내용 영역 -->
            <div class="row">
                <div class="lg:col-9">

                    <!-- 현재 페이지 안내 문구 -->
                    <nav class="col font-size-md font-medium page-nav-reset">
                        <ol class="breadcrumbs">
                            <li title="충전소 관리">
                                <a href="#!">충전소 관리</a>
                            </li>
                            <li title="새 충전소 등록">
                                새 충전소 등록
                            </li>
                        </ol>
                    </nav>

                    <!-- 헤더: 제목 -->
                    <header class="mb-5 header-style page-title">
                        <h1>새 충전소 등록</h1>
                    </header> 

                    <!-- 바디: 작성 내용 -->
                    <div class="form height-fixed">

                        <!-- 등록 정보 작성 폼 -->
                        <!-- (서버 구현 시 action/method 설정) -->
                        <form class="request-form" id="new-request">

                            <!-- 작성 내용 -->
                            <div class="form-field string required install-date">
                                <label for="install-date">설치일자</label>
                                <input type="text" id="install-date">
                                <!-- 기본 노출 메세지 -->
                                <p class="field-hint">설치일자를 입력해주세요.</p>
                                <!-- 에러 메세지 -->
                                <p class="field-error" hidden>※필수 입력 항목입니다.</p>
                            </div>

                            <!-- 작성 내용 -->
                            <div class="form-field string required station-number">
                                <label for="station-number">충전소 번호</label>
                                <input type="text" id="station-number">
                                
                                <!-- 기본 노출 메세지 -->
                                <p class="field-hint">충전소 고유 번호를 입력해주세요.</p>
                                
                                <!-- 에러 메세지 -->
                                <p class="field-error" hidden>※필수 입력 항목입니다.</p>
                            </div>

                            <!-- 작성 내용 -->
                            <div class="form-field string required install-address">
                                <label for="install-address">설치주소</label>
                                <input type="text" id="install-address">
                               
                                <!-- 기본 노출 메세지 -->
                                <p class="field-hint">충전소가 설치된 주소를 입력해주세요.</p>
                               
                                <!-- 에러 메세지 -->
                                <p class="field-error" hidden>※필수 입력 항목입니다.</p>
                            </div>

                            <!-- 특이사항 작성 -->
                            <div class="form-field text  required  request_description no-required-mark">
                                <label id="request_description_label" for="request_description">특이사항</label>
                                <textarea name="request[description]" id="request_description"></textarea>
                                <p id="request_description_hint">* 추가로 확인이 필요하거나, 관리가 필요한 내용이 있을 경우 작성해주세요. </p>
                            </div>
                       
                            <!-- 푸터: 취소/완료 버튼 -->
                            <footer>
                                <input type="submit" name="commit" value="취소">
                                <input type="submit" name="commit" value="완료">
                            </footer>
                        </form>

                    </div> 
                </div>
            </div>
        </div>
        
    </main>
</body>
<script src="/static/js/company-admin/company-charger-create.js"></script>
</html>