<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>

        <style>
        /* .select2-hidden-accessible {
            overflow: hidden !important;
            position: absolute !important;
            width: 1px !important;
            min-width: 1px !important;
            height: 1px !important;
            margin: -1px !important;
            padding: 0 !important;
            border: 0 !important;
            clip: rect(0 0 0 0) !important;
        } */

        </style>
    </head>
    <body>
        <select class="select2-single small select2-hidden-accessible">
            <option value="10">10 Row</option>
            <option value="20">20 Row</option>
            <option value="30">30 Row</option>
            <option value="40">40 Row</option>
            <option value="50">50 Row</option>
        </select>
    </body>
</html>
